
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

main {
  display: flex;
}

.form-and-grid {
  width: 80%;
}

/* SIDEBAR AREA */

.sidebar {
 background-color: #1F1F3D;
 color: #E9E9F3;
 display: flex;
 flex-direction: column;
 height: 100vh;
 width: 26%;
}

h1 {
  font-size: 2.1vmin;
}
.sidebar-item {
  margin-top: 6%;
  margin-left: 6%;
}
.divider {
  background-color: #353567;
  height: 2px;
  margin-top: 6%;
}

h2 {
  color: #BFBFDD;
  font-size: 1.6vmin;
}

.show-starred-button {
  background-color: #5356A4;
  border: 2px solid #353567;
  border-radius: 5%;
  color: #E9E9F3;
  font-size: 2.1vmin;
  font-weight: bold;
  height: 2.3em;
  margin-bottom: 3%;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 6%;
}

/* FORM AREA */

.input-form {
  align-items: center;
  background-color: #A9AAD2;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 40%;
}

textarea {
  padding: none;
  resize: none;
}

.form-item {
  border: 2px solid #353567;
  border-radius: 5%;
  font-size: 2.1vmin;
  width: 100%
}

label {
  font-size: 1.6vmin;
  font-weight: bold;
}

.save-button {
  background-color: #353567;
  color: white;
  font-size: 2.1vmin;
  font-weight: bold;
  height: 2.3em;
  cursor: pointer;
}

.save-button:hover {
  background-color: #5356A4;
}

.save-button:hover:disabled {
  background-color: #EAEAF4;
  cursor: not-allowed;
}

.search-line {
  display: flex;
  width: 100%;
}

.search-button {
  background-color: #353567;
  border: none;
  width: 10%;
}

.seach-bar {
  font-size: 1.6vmin !important;
}

/* CARD AREA */

.ideas-grid {
  background-color: #EAEAF4;
  height: 60vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 1.5%;

}

.idea {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1.5%;

}

.star-bar {
  background-color: #1F1F3D;
  opacity: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid #1F1F3D;
}

.fave-button {
 background-color: transparent;
 border: none;
}

.star-icon-active {
  display: none;
}

.fave-button:hover .star-icon {
  display: none;
}

.fave-button:hover .star-icon-active {
  display: flex;
}

.delete-button {
  background-color: transparent;
  border: none;
}

.delete-icon-active {
  display: none;
}

.delete-button:hover .delete-icon {
  display: none;
}

.delete-button:hover .delete-icon-active {
  display: flex;
}

.card-body {
  background-color: #FFFFFF;
  color: #1F1F3D;
  height: 8em;
  font-size: 2.1vmin;
  padding: 7%;
  border-right: 2px solid #1F1F3D;
  border-left: 2px solid #1F1F3D;
}

h3 {
  font-size: 2.1vmin;
}

.comment-bar {
  background-color: #5356A4;
  color: white;
  border: 2px solid #1F1F3D;
}

.comment-button {
  background-color: transparent;
  border: none;
}

/* .hidden {
  display: none;
} */

img {
  height: 20px;
  width: 20px;
}
